<div class="header">
  <div class="container">
    <h1>My Books</h1>
  </div>
</div>

<div class="container app">
  <% @current_user.shelves.each do |shelf| %>
    <div class="shelf">
      <h3 class="shelf-name"><%= link_to shelf.name, shelf_path(shelf) %></h3>
        <% if shelf.books.empty? %>
          <p>You haven't added any books to this shelf yet</p>
        <% else %>
        <div class="hide-scroll">
          <ul class="hs">
            <% shelf.books.each do |book| %>
            <li class="hs">
              <%= link_to image_tag(book.cover), book_path(book) %>
            </li>
            <% end %>
          </ul>
        </div>
        <% end %>
      <hr>
    </div>
  <% end %>
</div>
