<div class="container">
  <h1>My Books</h1>

  <% @current_user.shelves.each do |shelf| %>
    <div class="shelf">
      <h3 class="shelf-name"><%= link_to shelf.name, shelf_path(shelf) %></h3>
        <% if shelf.books.empty? %>
          <p>There are no books in this shelf yet</p>
        <% else %>
          <% shelf.books.each do |book| %>
            <%= link_to image_tag(book.cover, :class => 'img-thumbnail'), book_path(book) %>
          <% end %>
        <% end %>
      <hr>
    </div>
  <% end %>

  <div class="controls">
    <%= link_to "Add New Shelf", new_shelf_path, :class => 'btn btn-info' %>
  </div>
</div>
