<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Greatreads</h1>
    <p>Greatreads is a website where you can keep track of the books you've read, the books you are currently reading and the books you want to read.</p>
    <p><%= link_to "Search for a book", books_search_path, :class => 'btn btn-light btn-lg' %></p>
  </div>
</div>
