<h1>Welcome to Greatreads</h1>

<%= image_tag "bookcase.jpg", :alt => "Bookshelf Image", :class => 'feature' %>
<p>Reminder: get this image working as a background or jumbotron background^</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsam, facilis minima maxime totam, nobis incidunt praesentium, et officiis consequatur enim voluptatibus eaque excepturi voluptatem, aliquid harum possimus. Inventore, quod.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius error, mollitia asperiores dicta voluptatum, quod soluta consequatur consectetur officiis sequi deleniti aperiam autem est rerum quisquam! Iure magnam, doloremque atque.</p>
