<h1>All Books</h1>

<!-- display all books -->

<% @books.each do |book| %>
  <div class="books">
    <a href="<%= book_path(book) %>">
    <%= image_tag book.cover %>
    <p><%= book.title %></p>
    </a>
  </div>
<% end %>
