<h1><%= @book.title %></h1>

<%= image_tag @book.cover, :class => 'feature' %>
<ul>
  <li>Author(s):
  <% @book.authors.each do |author| %>
    <%= link_to author.name, author_path(author.id) %>
  <% end %>
  </li>
  <% unless @book.synopsis.nil? %>
  <li>Synopsis: <%= @book.synopsis %></li>
  <% end %>
</ul>

<!-- need to add link to add to shelf -->
