/* @import url('https://fonts.googleapis.com/css?family=Lato|Staatliches');

body {
  font-family: 'Lato', sans-serif;
  background-color: #DADDD8;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Staatliches', cursive;
}

header {
  background-color: #1C1C1C;
}

nav {
  max-width: 960px;
  margin: 0 auto;
  line-height: 50px;
  color: #DADDD8;
}

nav a {
  color: #DADDD8;
  text-decoration: none;
  margin-right: 12px;
}

.books {
  display: inline-block;
  text-align: center;
  margin: 10px 5px;
  max-height: 200px;
  vertical-align: top;
}

.books img {
  max-height: 150px;
  width: auto;
}

.books p {
  max-width: 200px;
}

.feature {
  max-height: 400px;
}

.shelf img {
  max-height: 150px;
}

.controls {
  margin-top: 15px;
}

.controls a {
  background-color: #1C1C1C;
  color: #DADDD8;
  padding: 3px;
  border-radius: 3px;
  text-decoration: none;
} */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches');

body {
  font-family: 'Montserrat';
  box-sizing: border-box;
}

.navbar-light {
  background-color: #EE7674;
}

.header {
  background-color: #25274D;
  margin-bottom: 20px;

  h1 {
    margin: 0 auto;
    color: white;
    line-height: 60px;
  }
}

.container {
  margin: 0 auto;

  a {
    color: #05A8AA;
  }

  h3 {
    color: #25274D;
  }
}

h1, h2, h3 {
  margin: 15px 0;
  text-transform: uppercase;
  font-family: 'Staatliches', cursive;
}

.divider {
  padding: 0 5px;
  color: #EE7674;
}

.card {
  max-height: 250px;
  max-width: 250px;
  border: none;
  border-radius: 0px;
}

.card-body {
  padding: 5px 2px;
}

.books {
  display: inline-block;
  text-align: center;
  margin: 10px 5px;
  min-height: 225px;
  max-height: 300px;
  max-width: 200px;
  vertical-align: top;
  padding: 0;

  p {
    max-width: 200px;
  }

  a {
    display: block;
    font-size: 0.9em;
    color: #05A8AA;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    max-width: 120px;
    max-height: 250px;
  }
}

.shelf-name a:hover {
  text-decoration: underline;
}

.books-thumbnail {
  max-height: 150px;
}

.shelf {
  img {
    max-height: 150px;
  }

  p {
    line-height: 150px;
  }
}

.shelf-name a {
  font-size: 0.9em;
  color: #05A8AA;
  text-decoration: none;
  font-family: 'Staatliches', cursive;
}

.user-image {
  max-width: 300px;
}

.controls {
  margin-top: 80px;
}

.feature {
  max-width: 100%;
  min-width: 90%;
}

.custom-wrapper {
  background-color: grey;
}

.jumbotron {
  background-image: url(bookcase-bw.jpg);
  background-size: cover;
  height: 100vh;
  color: #FFFFFF;

  p {
    font-size: 150%;
  }
}

.synopsis {
  font-size: 80%;
}

.star-rating {
  max-height: 20px;
  min-height: 20px;
  text-decoration: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.star-rating:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  text-decoration: none;
}
