
@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches');

body {
  font-family: 'Montserrat';
  box-sizing: border-box;
}

.navbar-light {
  background-color: #212227;
}

.header {
  background-color: #AAB9CF;
  margin-bottom: 20px;

  h1 {
    margin: 0 auto;
    color: white;
    line-height: 60px;
  }
}

.filter a {
  color: #7C89A3;
}

a {
  color: #7C89A3;
}

.container {
  margin: 0 auto;

  a {
    // color: #05A8AA;
  }

  h3 {
    color: #25274D;
  }
}

h1, h2, h3, h4 {
  margin: 15px 0;
  text-transform: uppercase;
  font-family: 'Staatliches', cursive;
}

.divider {
  padding: 0 5px;
  color: #AAB9CF;
}

.card {
  max-height: 250px;
  max-width: 250px;
  border: none;
  border-radius: 0px;
}

.card-body {
  padding: 5px 2px;
}

.books {
  display: inline-block;
  text-align: center;
  margin: 10px 5px;
  min-height: 225px;
  max-height: 300px;
  max-width: 200px;
  vertical-align: top;
  padding: 0;

  p {
    max-width: 200px;
  }

  a {
    display: block;
    font-size: 0.9em;
    color: #7C89A3;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    max-width: 120px;
    max-height: 250px;
  }
}

.shelf-name a:hover {
  text-decoration: underline;
}

.books-thumbnail {
  max-height: 150px;
}

.shelf {
  img {
    max-height: 150px;
  }

  p {
    line-height: 150px;
  }
}

.shelf-name a {
  font-size: 0.9em;
  color: #7C89A3;
  text-decoration: none;
  font-family: 'Staatliches', cursive;
}

.user-image {
  max-height: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.controls {
  margin-top: 80px;
}

.feature {
  max-width: 100%;
  min-width: 90%;
  border-radius: 4px;
}

.custom-wrapper {
  background-color: grey;
}

.jumbotron {
  background-image: url(bookcase-bw.jpg);
  background-size: cover;
  color: #FFFFFF;
  border-radius: 0px;
  height: 100vh;
  margin-bottom: 0;

  p {
    font-size: 150%;
  }
}

.synopsis {
  font-size: 80%;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > a {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > a:hover:before,
.rating > a:hover ~ a:before {
   content: "\2605";
   position: absolute;
   text-decoration: none;
   color: #7C89A3;
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.btn-info {
  background-color: #AAB9CF;
  border: none;
}

.btn-info:hover {
  background-color: #7C89A3;
}

.user-profile {
  text-align: center;
}

// HORIZONTAL SCROLL METHOD - source: https://uxdesign.cc/creating-horizontal-scrolling-containers-the-right-way-css-grid-c256f64fc585

:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 5);
  grid-template-columns: 1px repeat(20, calc(50% - var(--gutter) * 20)) 10px;
  grid-template-rows: minmax(150px, 1fr);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.5 * var(--gutter));
}

.hs:before,
.hs:after {
  content: '';
}

/* Hide scrollbar */
.hide-scroll {
  overflow-y: hidden;
  margin-bottom: calc(-.1 * var(--gutter));
}
